@{
    ViewData["Title"] = "About us";
}

<div class="about-section">
    <h1>@ViewData["TItle"]</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 class="row-cols-md-6" style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="active">
            <img src="/profilePic.png" alt="Ivo" style="width:100%">
            <div class="container">
                <h2>Ivo Ayvazov</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me.</p>
                <p>iayvazovl@gmail.com</p>
            </div>
        </div>
    </div>
</div>
