@using Microsoft.AspNetCore.Identity

@using Tripsters.Data.Models
@using Tripsters.Common
@using Tripsters.Services.Data.Trips.Models

@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<TripCategoryServiceModel>

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="carousel-item active mb-5">
        <img src="https://adventure.ir/wp-content/uploads/2019/12/adventure-trips-in-india_1440486703_aNbqdJ.jpg" class="d-block w-100 mt-4" alt="Adventure trips">
        <a class="btn btn-outline-primary mt-5" asp-controller="Trips" asp-action="Add">Make Trip</a>
        <a class="btn btn-outline-primary mt-5 ml-4" asp-controller="Trips" asp-action="All">All trips</a>
        <div class="container mt-5 mb-5">
            <h4>Trips Category</h4>
            @foreach (var category in Model)
            {
                <a class="btn btn-outline-primary mt-3 mb-5 mr-2 ml-2" asp-controller="Categories" asp-action="AllCategoryTrips" asp-route-categoryId="@category.Id">@category.Name</a>
            }
        </div>
        <div class="mt-5 mb-5 alert-secondary h-50">
            <div>
                <h4>About us</h4>
                <p>Some text about who we are and what we do.</p>
                <p>Resize the browser window to see that this page is responsive by the way.</p>
            </div>
            <h2 class="row-cols-md-6" style="text-align:center">Our Team</h2>
            <div class="row ml-3">
                <div class="column">
                    <div class="active">
                        <div class="col-lg-4 mb-2 pr-lg-1">
                            <img src="~/Uploads/Ivo.png" alt="Ivo" style="width:80%">
                            <div class="container">
                                <h2>Ivo Ayvazov</h2>
                                <p class="title">Creator</p>
                                <p>Some text that describes me.</p>
                                <p>iayvazovl@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
