<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Trips" asp-action="MyTrips">Made by me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Trips" asp-action="Upcoming">Upcoming</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Trips" asp-action="Past">Past</a>
    </li>
</ul>