<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/Trips/MyTrips">Made by me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Trips/Upcoming">Upcoming</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Trips/Past">Past</a>
    </li>
</ul>