@using Tripsters.Web.ViewModels.Trips

@model TripsViewModel

@{
    ViewData["Title"] = "Trip";
}

<h1>@ViewData["Title"]</h1>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/Trips/Details?tripId=@Model.Id">Trip info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Trips/Creator?creatorId=@Model.CreatorId&userId=@Model.CurrentUserId&currTripId=@Model.Id">Creator info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Trips/Members?tripId=@Model.Id">Members (@Model.Members.Count)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/Trips/Photo?tripId={2}">Photos</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h3 class="card-title">Welcome to our trip.</h3>
    </div>
</div>